//汎用プロパティたち

$cblack: black;
$cwhite: white;
$subcolor: #e2fafb;
$button-color: #216df7;

body {
  font-family: 'Kameron', 'Noto Sans JP', sans-serif;
}
a {
  text-decoration: none;
  color: $cblack;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}
.logo {
  & img {
    width: 200px;
  }
}
.font-sm {
  font-size: 14px;
}
.font-md {
  font-size: 17px;
}
.font-lr {
  font-size: 17px;
}
.font-lg {
  font-size: 25px;
}
.mb-sm {
  margin-bottom: 16px !important;
}
.mb-lg {
  margin-bottom: 80px !important;
}
.pb-sm {
  padding-bottom: 16px !important;
}
.pb-lg {
  padding-bottom: 80px !important;
}
.pad-md {
  padding: 10px;
}
.main-title {
  @extend .font-lr;
  font-weight: 600;
  margin-bottom: 0;
  display: block;
}
.sub-title {
  @extend .font-sm;
}
.flex {
  display: flex;
  flex-direction: column;
}
.span-animation-before {
  display: inline-block;
  transform: translateY(-100%);
  opacity: 0;
  transition: all 1s;
}
.span-animation-after {
  opacity: 1;
  transform: none;
  @for $i from 1 through 30 {
    &:nth-child(#{$i}) {
      transition-delay: $i * 0.05s;
    }
  }
}

//各種スタイル
.global-container {
  overflow: hidden;
  & .container {
    &::before {
      background-color: $cwhite;
      transition: all 1s;
    }
  }
  &.menu-open {
    .container {
      &::before {
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $subcolor;
        z-index: 110;
      }
      .header {
        z-index: 120;
        &__hamburger {
          & > span {
            &:nth-child(1) {
                transition-delay: 70ms;
                transform: translateY(11px) rotate(135deg);
            }
            &:nth-child(2) {
                transition-delay: 0s;
                transform:  translateX(-18px) scaleX(0);
            }
            &:nth-child(3) {
                transition-delay: 140ms;
                transform: translateY(-11px) rotate(-135deg);
            }
        }
        }
      }
    }
    main {
      display: none;
    }
    .mobile-menu {
      position: absolute;
      top: 200px;
      left: 50%;
      width: 200px;
      height: 200px;
      transform: translateX(-50%);
      z-index: 120;
      &__ul {
        text-align: center;
      }
      &__li {
        font-size: 18px;
        padding: 20px 0;
      }
    }
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: rgba(255,255,255,.8);
  height: 115px;
  &__inner {
    @extend .content-width;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    & .logo {
      & img {
        margin-top: 6px;
      }
    }
  }
  &__hamburger {
    margin-top: 13px;
    background-color: unset;
    border: none;
    outline: none;
    cursor: pointer;
    & span {
      display: block;
      width: 35px;
      height: 2px;
      margin-bottom: 9px;
      background-color: black;
      transition: transform 0.5s;
    }
  }
  &__nav {
    display: none;
    line-height: 80px;
    & ul {
      & li {
        display: inline-block;
        margin-right: 50px;
        @extend .font-md;
        font-weight: 400;
      }
    }
  }
}

.hero {
  @extend .mb-lg;
  padding-top: 115px;
  & .swiper {
    width: 100%;
    height: 500px;
    overflow: visible;
    cursor: grab;
    position: relative;
    z-index: 0;
    & .swiper-wrapper {
      & .swiper-slide {
        &.swiper-slide-active {
          & img {
            @include animation ($name: zoomout, $duration: 1.5s);
          }
        }
      }
    }
    & .scroll-text {
      position: absolute;
      left: 50%;
      width: 50px;
      transform: translateX(-50%);
      z-index: 10;
      & span {
        position: absolute;
        bottom: 20px;
        color: $cwhite;
        font-size: 16px;
        &:nth-of-type(1) {
          transform: translateX(-10px) rotate(90deg);
        }
        &:nth-of-type(2) {
          top: -46px;
          transform-origin: top;
          @include animation ($name: longer, $duration: 2s, $iteration-count: infinite);
        }
      }
    }
    & .swiper-slide-shadow-left {
      background-image: none;
    }
    & .swiper-slide-shadow-right {
      background-image: none;
    }
  }
  &__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

main {
  .result {
    @extend .content-width;
    @extend .mb-lg;
    &__inner {
      @extend .pad-md;
      @extend .flex;
      height: 525px;
      background-color: $subcolor;
    }
    &__picture {
      height: 300px;
      margin-bottom: 20px;
      overflow: hidden;
      & img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        opacity: 0;
        transform: translateX(-100%);
        box-shadow: 0px 0px 3px;
      }
      &.inview {
        & img {
          @include animation($name: image-zoomout, $duration: 1.5s)
        }
      }
    }
    &__content {
      &__title {
        @extend .main-title;
      }
      &__detail {
        @extend .sub-title;
        color: #535353;
        & ul {
          padding-left: 40px;
        }
        & li {
          list-style: disc;
        }
        & a {
          background-color: $button-color;
          color: $cwhite;
          padding: 10px 20px;
          margin-top: 5px;
          position: absolute;
          transition: all 0.5s;
          box-shadow: 0 0 7px $button-color;
          @extend .font-sm;
          &:hover {
            background-color: $cwhite;
            color: $cblack;
            box-shadow: none;
          }
        }
      }
    }
  }
  .best-shot {
    @extend .mb-lg;
    &__inner {
      @extend .content-width;
      h2 {
        & span {
          @extend .span-animation-before;
        }
        &.inview {
          & span {
            @extend .span-animation-after;
          }
        }
      }
      p {
        @extend .sub-title;
        color: rgba(0, 0, 0, .7);
        & span {
          @extend .span-animation-before;
        }
        &.inview {
          & span {
            @extend .span-animation-after;
          }
        }
      }
    }
    &__content {
      @extend .flex;
      & div {
        @extend .mb-sm;
        & .cover-slide {
          position: relative;
          height: 300px;
          &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            display: inline-block;
            background-color: #e7e7e7;
            opacity: 0;
            transform: translateX(-100%);
          }
          & img {
            display: inline-block;
            vertical-align: bottom;
            object-fit: cover;
            width: 100%;
            height: 300px;
            opacity: 0;
            transform: translateX(-100%);
          }
          &.inview {
            &::before {
              @include animation($name: image-zoomout, $duration: 1.5s);
            }
            & img {
              @include animation($name: image-zoomout, $duration: 1.5s, $delay: 1.2s);
            }
          }
        }
        & span {
          font-weight: bold;
          font-size: 18px;
        }
      }
    }
  }
  .self-cheer {
    position: relative;
    z-index: 0;
    &::before{
      display: block;
      position: absolute;
      z-index: -10;
      content: '';
      width: 100%;
      height: 100%;
      transform: translateY(92px);
      background-color: $subcolor;
    }
    &__inner {
      @extend .content-width;
    }
    .title {
      letter-spacing: 2px;
      text-align: center;
      font-size: 40px;
      & span {
        @extend .span-animation-before;
      }
      &.inview {
        & span {
          @extend .span-animation-after;  
        }
      }
    }
    .subtitle {
      text-align: center;
      font-size: 27px;
      & span {
        @extend .span-animation-before;
      }
      &.inview {
        & span {
          @extend .span-animation-after;  
        }
      }
    }
    &__ulitem {
      @extend .flex;
      text-align: center;
    }
    &__itemlist {
      font-size: 18px;
      padding: 30px 0;
    }
  }
}

